<p id="notice"><%= notice %></p>

<p>
  <strong>Category name:</strong>
  <%= @modules_category.category_name %>
</p>

<%= link_to 'Edit', edit_modules_category_path(@modules_category) %> |
<%= link_to 'Back', modules_categories_path %>
